/* ===== PAGE LAYOUT ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background: #fff;
}


/* ===== CENTERED SIGNUP FORM WRAPPER ===== */
.signup-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
    padding-top: 30px;
}

/* ===== SIGNUP FORM BOX ===== */
.signup-box {
    background: #fff;
    width: 420px;
    padding: 40px 45px;
    border-radius: 18px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
    text-align: center;
    animation: fadeIn 0.6s ease;
    margin-block-end:150px;
}

/* ===== TITLE ===== */
.signup-box h2 {
    color: #363636;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;
}

/* ===== FORM GROUP ===== */
.input-group {
    text-align: left;
    margin-bottom: 18px;
}

.input-group label {
    display: block;
    color: #444;
    font-weight: 500;
    margin-bottom: 6px;
}

.input-group input[type="text"],
.input-group input[type="password"],
.input-group input[type="email"],
.input-group input[type="tel"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    background-color: #fdfdfd;
}

.input-group input:focus {
    border-color: #c6a682;
    box-shadow: 0 0 8px rgba(198, 166, 130, 0.3);
}

/* ===== BUTTON ===== */
.signup-box button {
    width: 100%;
    background-color: #040B3A;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    padding: 12px;
    margin-top: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.signup-box button:hover {
    background-color: #1b266b;
}

/* ===== MESSAGES ===== */
.form-error {
    border-style: dashed;
    border-width: 1px;
    background: #ffe5e5;
    color: #b30000;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
    font-size: 14px;
}

.form-success {
    border-style: dashed;
    border-width: 1px;
    background: #e5ffe5;
    color: #007700;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
    font-size: 14px;
}

/* ===== LINKS ===== */
.signup-link {
    margin-top: 20px;
    font-size: 15px;
}

.signup-link a {
    color: #040B3A;
    text-decoration: none;
    font-weight: 500;
}

.signup-link a:hover {
    text-decoration: underline;
}
